In [1]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [2]:
if 3 > 2:
    print('ITS TRUE!')

ITS TRUE!

In [3]:
hungry = True

if hungry:
    print('FEED ME!')

FEED ME!

In [5]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

Im not hungry

In [6]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

FEED ME!

In [10]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Money is cool!

In [11]:
loc = 'Store'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Welcome to the store!

In [12]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Cars are cool!

In [13]:
loc = 'Game'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

I do not know much.

In [14]:
name = 'Sammy'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')   
else:
    print('What is your name')

Hello Sammy

In [15]:
name = 'Frankie'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')   
else:
    print('What is your name')

Hello Frankie!

In [16]:
name = 'Jose'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')   
else:
    print('What is your name')

What is your name

In [17]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [18]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [24]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number {num}')

Odd Number 1
2
Odd Number 3
4
Odd Number 5
6
Odd Number 7
8
Odd Number 9
10

In [29]:
list_sum = 0

In [30]:
list_sum = 0
for num in mylist:
    list_sum += num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [32]:
print(list_sum)

55

In [33]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [34]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [35]:
for letter in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [36]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [37]:
tup = (1,2,3)

In [39]:
for item in tup:
    print(item)

1
2
3

In [40]:
mylist = [(1,2), (2,3), (5,6), (7,8)]

In [41]:
len(mylist)

4

In [44]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
2
3
5
6
7
8

In [45]:
for item in mylist:
    print(item)

(1, 2)
(2, 3)
(5, 6)
(7, 8)

In [46]:
for (a,b) in mylist:
    print(b)

2
3
6
8

In [48]:
mylist = [(1,2,3), (5,6,7),(8,9,10)]

In [49]:
for item in mylist:
    print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [52]:
for a, b,c in mylist:
    print(b)

2
6
9

In [53]:
d = {'k1': 1, 'k2': 2, 'k3':3}

In [54]:
for item in d:
    print(item)

k1
k2
k3

In [55]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [57]:
for key, value in d.items():
    print(value)

1
2
3

In [58]:
for value in d.values():
    print(value)

1
2
3

In [60]:
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x +=1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [61]:
x = 50
while x < 5:
    print(f'The current value of x is {x}')
    x +=1
else:
    print('X is not less than 5')

X is not less than 5

In [63]:
x = [1,2,3] 
for item in x:
    pass

print('end of my script')

end of my script

In [64]:
mystring = 'Sammy'

In [66]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [67]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [68]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [69]:
x = 0
while x < 5:
    print(x)
    x +=1

0
1
2
3
4

In [70]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [71]:
mylist = [1,2,3]

In [72]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [73]:
for num in range(3, 10):
    print(num)

3
4
5
6
7
8
9

In [76]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [77]:
range(0, 11, 2)

range(0, 11, 2)

In [78]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [83]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [81]:
index_count = 0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [85]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [86]:
word = 'abcde'
for item,letter in enumerate(word):
    print(item)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [93]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100, 200,300]

In [94]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

# can only zip up to the list that is the shortest

In [96]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100, 200,300]

In [97]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [98]:
list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [100]:
'x' in [1,2,3]

False

In [101]:
'x' in ['x','y','z']

True

In [102]:
2 in [1,2,3]

True

In [103]:
'a' in 'a world '

True

In [104]:
'mykey' in {'mykey': 345}

True

In [105]:
d = {'mykey': 345}

345 in d.values()

True

In [106]:
345 in d.keys()

False

In [107]:
345 in d.items()

False

In [108]:
mylist = [10,20,30,40,100]

In [109]:
min(mylist)

10

In [110]:
max(mylist)

100

In [111]:
from random import shuffle

mylist = [1,2,3,4,5,6,7,8,9,10]

In [112]:
shuffle(mylist)

In [113]:
mylist

[7, 1, 4, 5, 10, 6, 3, 8, 9, 2]

In [114]:
shuffle(mylist)

In [115]:
mylist

[8, 7, 6, 10, 2, 9, 4, 1, 3, 5]

In [117]:
random_list = shuffle(mylist)

In [118]:
type(random_list)

NoneType

In [119]:
from random import randint

In [120]:
randint(0,100)

76

In [121]:
randint(0,100)

54

In [122]:
mynum = randint(0,10)

In [123]:
mynum

8

In [124]:
input('Enter a number here: ')

Enter a number here: 12

'12'

In [126]:
result = input('What is your name? ')

What is your name? Divante

In [127]:
result = input('Favorite number? ')

Favorite number? 30

In [128]:
type(result)

str

In [129]:
int(result)

30

In [130]:
float(result)

30.0

In [131]:
result = int(input('What is your name? '))

What is your name? 20

In [132]:
type(result)

int

In [133]:
mystring = 'hello'

In [135]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [136]:
mylist

['h', 'e', 'l', 'l', 'o']

In [139]:
mylist = [letter for letter in mystring]

In [140]:
mylist

['h', 'e', 'l', 'l', 'o']

In [141]:
mylist =[x for x in 'word']

In [142]:
mylist

['w', 'o', 'r', 'd']

In [143]:
mylist =[aaa for aaa in 'wordtwo']

In [144]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [145]:
mylist = [x for x in range(0,11)]

In [146]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [147]:
mylist = [num for num in range(0,11)]

In [148]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [149]:
mylist = [num**2 for num in range(0,11)]

In [150]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [153]:
mylist = [x**2 for x in range(0,11) if x %2 == 0]

In [154]:
mylist

[0, 4, 16, 36, 64, 100]

In [155]:
mylist = [x for x in range(0,11) if x %2 == 0]

In [157]:
mylist

[0, 2, 4, 6, 8, 10]

In [158]:
celcius = [0, 10,20,34.5]

fahrenheit = [((9/5) * temp + 32) for temp in celcius]

In [159]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [160]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5) * temp + 32))

In [161]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [162]:
results = [x if x %2 == 0 else 'ODD' for x in range(0 ,11)]

In [163]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [167]:
mylist = []

for x in [2,4,6]:
    for y in [1, 10, 1000]:
        mylist.append(x* y)

In [168]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [169]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [171]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]